.insta-stories-story-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.insta-stories-story-header {
  position:absolute;
  top:12px;
  left:0;
  right:0
}

.insta-stories-playIcon {
  position: absolute;
  padding: 0;
  top: 20px;
  right: 30px;
  z-index: 1000;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 0;
  box-sizing: border-box;
}


.insta-stories-loaderWrapper {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.insta-stories-loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #a5b0b7;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


