.insta-stories-story-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.insta-stories-story-header {
  position:absolute;
  top:12px;
  left:0;
  right:0
}

.insta-stories-playIcon {
  position: absolute;
  padding: 0;
  top: 15px;
  right: 30px;
  z-index: 2;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 0;
  box-sizing: border-box;
}

