.insta-stories-video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}



.insta-stories-soundIcon {
  position: absolute;
  padding: 0;
  top: 15px;
  right: 5px;
  z-index: 2;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 0;
  box-sizing: border-box;

}

