.insta-stories-main-container {
  position: relative;
  touch-action: manipulation;
  background-color: black;
  user-select: none;
  -webkit-touch-callout:none;
  border-radius: 7px;
  overflow: hidden;
}

.insta-stories-header {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}
