.insta-stories-main-container {
  position: relative;
  touch-action: manipulation;
  background-color: black;
  user-select: none;
  -webkit-touch-callout:none;
  border-radius: 7px;
  overflow: hidden;
}

.insta-stories-header {
  position: absolute;
  margin-top: 20px;
  margin-left: 10px;
}

.insta-stories-header, .insta-stories-wrapper, .insta-stories-action-btn {
  opacity: 1;
}

.insta-stories-story-paused .insta-stories-header, .insta-stories-story-paused .insta-stories-wrapper, .insta-stories-story-paused .insta-stories-action-btn {
  animation: hide-controls 1s forwards;
}

@keyframes hide-controls {
  0% {opacity: 1;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
