.insta-stories-left {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  left: 0;
  user-select: none;

}

.insta-stories-right {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 999;
  right: 0;
  user-select: none;
}
